@import './../variables.scss';

.card {
    border-left: none;
    border-right: none;
    text-align: left;
}

.card-header {
    background-color: transparent;

    button {
        font-family: BentonSans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        color: $fogGrey;
    }
}