@import './../variables.scss';
@import './../components.scss';

a {
    color: #495057;
}

.card {
    border: none;
    text-align: left;
    margin-bottom: 20px;

    .tab-content>.active {
        margin-top: 30px;
    }
}
.btn-control-accordion{
    all: unset;
    &:focus{
        outline: none;
    }
}
.card-header {
    background-color: $lightGrey;
    color: black;
    font-size: 26px;
    padding: 6px;
    .step{
        text-align: center;
        display: inline-block;
        background-color: $fogGrey;
        line-height: 50px;
        height: 50px;
        width: 40px;
        color: white;
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
        span {
            font-weight: normal;
            display: inline-block;
            line-height: normal;
        }
    }
    .header-text{
        font-weight: normal;
        font-family: $bentonLight;
    }
    button {
        font-family: BentonSans;
        font-style: normal;
        font-weight: 300;
        font-size: 26px;
        line-height: 12px;
        color: $fogGrey;

        &:focus {
            text-decoration: none;
            color: $fogGrey;
        }
    }
}

.form-group {
    margin-left: 36px;
    margin-right: 36px;
    select, option {
        font-size: 12px;
    }
}

.form-control {
    border-color: $fogGrey;

    &:focus {
        border-color: $fogGrey;
        box-shadow: none;
    }
}
.card-body{
    padding: 40px 10px 20px 10px;
    .form-group{
        margin-left: 0px;
        margin-right: 0px;
    }

    .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid rgba(0,0,0,.125);
    }
    .delivery-selection{
        table{
            background-color: $lightestGrey;
            tr{
                th {
                    padding: 5px 0px;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                    .btn-metsa {
                        width: 100%;
                        &.unactive {
                            width: 90%;
                            color: black;
                            background-color: $lightGrey;
                            border: 1px solid black;
                        }
                    }
                    &.active{
                    }
                }
                td{
                    padding: 5px 10px;
                    text-align: center;
                    &:first-child{
                        text-align: left;
                    }
                    &.active{
                        border-right: 4px solid $budGreen;
                        border-left: 4px solid $budGreen;
                    }
                }
                &:last-child{
                   td{
                       &.active{
                           border-bottom: 4px solid $budGreen;
                       }
                   }
                }
                .product-header{
                    width: 40%;
                    padding: 5px 10px;
                }
            }
        }
    }
    .calendar-controls{
        width: 60%;
        float:right;
        margin-bottom: 10px;
    }
}
.btn-grey{
    background-color: $lightGrey;
}
.btn-metsa{
    color: white;
    background-color: $budGreen;
    border-radius: 0px;
    width: 100px;
    max-width: 100%;
    height: 32px;
    padding: 0px 6px;
    &.unactive{
        color: black;
        background-color: $lightGrey;
        border: 1px solid black;
    }
}

.order-accordion {

    .btn-link:hover, .btn-link{
        color: #212529;
        text-decoration: none;
    }

    .card-header {
        background-color: #F5F5F5;
        .order-header-row {
            font-size: 14px;
            text-align: left;
            padding-left: 60px;

            .order-header-second {
                font-family: $bentonLight;
            }
        }
    }

    .card-body {
        font-size: 14px;

        .btn-metsa {
            margin-left: 75px;
        }
    }

    i.big.icon, i.big.icons {
        margin-left: 60px;
    }

    .order-item-level-secondary {
        font-family: $bentonLight;
        display: inline-block;
    }
}

#uncontrolled-tab-example-tab-recommendedOrders {
    display: none;
}