@import './../variables.scss';

.footer-wrapper {
    height: 200px;
    background-color: $fogGrey;
    color: $white;
    position: fixed;
    bottom: 0;
    width: 100%;

    ul {
        padding: 0;

        li {
            display: block;
        }
    }
}