@import './../variables.scss';

.columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.header-image {
    background-image: url("../../assets/img/header.png");
    display: block;
    width: 90%;
    height: 143px;
}