p {
    font-family: BentonSans;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
}

label {
    font-family: BentonSans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
}