@font-face {
    font-family: 'Benton Bold';
    src: url('/src/assets/fonts/BentonSans_Bold_Regular.woff') format("woff");
}

@font-face {
    font-family: 'Benton Light';
    src: url('/src/assets/fonts/BentonSans_Light_Regular.woff') format("woff");
}