@font-face {
    font-family: 'Benton Bold';
    src: url('/src/assets/fonts/BentonSansBold.otf') format('truetype');
}

@font-face {
    font-family: 'Benton Light';
    src: url('/src/assets/fonts/BentonSansLight.otf') format('truetype');
}