@import './../scss/fonts.scss';


// Declare here any reusable variables

//breakpoints
$mobile: 450px;
$tablet: 768px;

//colors
$budGreen: #8FD400;
$white: #fff;
$ashGrey: #363534;
$fogGrey: #8E908F;
$lightGrey: #E6E6E6;


//font-families
$bentonBold: 'Benton Bold';
$bentonLight: 'Benton Light';

//font-sizes

//line-heights

